<%inherit file="/base.html"/>
<%block name="content">
 <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-8">
                        <form class="form-vertical p15">
                            <div class="form-group clearfix ">
                                <label class="col-sm-3 control-label bk-lh30 pt0">输入值：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control bk-valign-top" id="input1" placeholder="Hello Blueking"> </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-vertical p15">
                            <div class="form-group">
                               <!--  <button type="button" id="commit1" class="king-btn mr10  king-success" onclick="submit1(this)">提交</button> -->
                               <button type="button" id="commit1" class="king-btn mr10  king-success" onclick="submit1(this)">提交</button>
<!--                                 <button type="button" class="king-btn king-default ">取消</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="king-widget1 king-widget-danger m0">
                <div class="king-widget2-content p25">
                    <div class="king-counter king-counter-lg">
                        <span class="king-counter-number">输出值:</span>
                        <div class="king-counter-label text-uppercase" id="out1">xxxxxxx</div>
                    </div>
                </div>
            </div>
</%block>
<script>
        function submit1(obj){
        var input1 = $('#input1').val();
        $.post('/mwp/mwptest1/', {'input1': input1}, function(data){
            if(data.result){
                $("#out1").text(data.result);
            }else{
                {alert('请输入Hello Blueking试试')};
            }
        });
        }; 
    
</script>
